.login-container {
    min-height: calc(100vh - 134px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f6f9;
}

.login-card {
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-card h2 {
    margin-bottom: 2rem;
    color: #345D88;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.form-group label {
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #345D88;
}

.form-group input {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.login-container button {
    width: 100%;
    padding: 1rem;
    background: #345D88;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

.login-container button:hover {
    background: var(--color-primary-dark);
}